fastapi[all]
pytest
SQLAlchemy
ruff
black
wemake-python-styleguide
alembic
pytest-asyncio
pytest-mock-resources
asyncpg
python-decouple
pyjwt[crypto]
python-jose[cryptography]
passlib
python-multipart
uvicorn
minio
s3fs
bcrypt==4.0.1