fastapi[all]
pytest
SQLAlchemy
ruff
black
wemake-python-styleguide
alembic

asyncpg
python-decouple
pyjwt[crypto]
python-jose[cryptography]
passlib
python-multipart
uvicorn
minio
s3fs
bcrypt==4.0.1
pytest==8.3.3
pytest-mock-resources==2.12.2
httpx
pytest-asyncio >= 0.14.0